@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 20%);
    --dark-gray: hsl(0, 0%, 12%);
    --very-dark-gray: hsl(0, 0%, 8%);
    --green: hsl(75, 94%, 57%);
    --main-font: 'Inter', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    background-color: var(--very-dark-gray);
    color: var(--white);
    text-align: center;
    margin: auto !important;
}

.card {
    display: block;
    max-width: 28%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--dark-gray);
    margin: 3rem auto;
    text-align: center;
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 10rem;
    background-color: var(--dark-gray);
}

.avatar img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-top: 1rem;
}

.avatar h1 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem 0;
}

.location {
    margin: .5rem 0;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.social-links button {
    width: 90%;
    padding: .7rem;
    border-radius: 0.5rem;
    background-color: var(--gray);
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
    border: none;
    transition: background-color 0.9s ease;
}

.social-links button:hover {
    cursor: pointer;
    background-color: var(--green);
    color: var(--very-dark-gray);
}

p {
    color: var(--green);
}

.social-links a {
    text-align: center;
    color: var(--white);
    text-decoration: none;
}


.attribution {
    font-size: 1em;
    text-align: center;
    color: var(--gray);
    margin-top: 1rem;
}


@media (max-width: 375px) {
    .card {
        max-width: 90%;
    }

    .social-links button {
        width: 90%;
    }
}